{% extends "base.html" %}
{% block title %}
  Технологии
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Технологии
        </div>
        <div class="card-body">
          <h1>Привет, я автор</h1>
          <p>
            https://github.com/crazair
          </p>
          <p>
            https://www.linkedin.com/in/sergey-anokhin-a4a61ba1/
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}